.ultrastylischelinielinks {
    position: absolute;
    bottom: 0;
    left: 96px;
    height: 286px;
    pointer-events: none;
}

.ultrastylischelinielinks .leftLine {
  position: absolute;
  left: 0;
  top: 75px;
  bottom: 0;
  width: 1px;
  background: #3DCFB6;
  z-index: 0; /* hinten */
}

.ultrastylischelinielinks .leftCircle {
  position: absolute;
  left: 0;                 /* an die Linie andocken */
  top: 0;                  /* Position nach Bedarf (z. B. 0 oder 50%) */
  width: 30px;
  height: 48px;
  border-radius: 32px;
  opacity: 1;
  border: 1px solid #3DCFB6;
  transform: translateX(-50%) rotate(0deg); /* über der 1px-Linie zentrieren */
  z-index: 1;              /* vorne */
}

.movingarrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 16px;
  transform: translate(-50%, -50%);
  animation: moveUpDown 2s infinite ease-in-out;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY( 10px);
  }
}

.ultrastylischelinierechts {
    position: absolute;
    bottom: 0;
    right: 96px;
    height: 232px;
    pointer-events: none;
}
.ultrastylischelinierechts .rightLine {
  position: absolute;
  right: 0;
  top: 75px;
  bottom: 0;
  width: 1px;
  background: #ffffff;
  z-index: 0; /* hinten */
}

.ultrastylischelinierechts .rightCircle {
  position: absolute;
  right: 0;                 /* an die Linie andocken */
  top: 0;                  /* Position nach Bedarf (z. B. 0 oder 50%) */
  width: 30px;
  height: 48px;
  transform: translateX(50%) rotate(0deg); /* über der 1px-Linie zentrieren */
  z-index: 1;              /* vorne */
}

.ultrastylischelinierechts .rightCircle img {
  position: relative;
  top: -48px; /* weiter nach oben schieben; Wert nach Bedarf anpassen */
}

.ultrastylischelinierechts .rightText {
    font-family: Karla;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 120%;
letter-spacing: 0%;
  position: absolute;
  right: 0;
  top: -150%;
  transform: translateX(50%) rotate(180deg); /* 180° Flip => effektiv -90° (links) */
  writing-mode: vertical-rl;
  text-orientation: sideways;
  direction: ltr; /* Reihenfolge wird durch den 180°-Flip umgedreht -> h unten */
  white-space: nowrap;
}

.rightText:hover {
  color: #3DCFB6;
  transition: color 0.3s ease;
  cursor:pointer;
}

.pointercss {
  cursor: pointer;
}